<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.info.aplikasiinfomaskapai">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AmericanAirlinesActivity"></activity>
        <activity android:name=".BritishAirwaysActivity" />
        <activity android:name=".KLMActivity" />
        <activity android:name=".AirFranceActivity" />
        <activity android:name=".LufthansaActivity" />
        <activity android:name=".QantasActivity" />
        <activity android:name=".CathayPacificActivity" />
        <activity android:name=".ChinaAirlinesActivity" />
        <activity android:name=".ThaiAirwaysActivity" />
        <activity android:name=".MalaysiaAirlinesActivity" />
        <activity android:name=".SingaporeAirlinesActivity" />
        <activity android:name=".GarudaIndonesiaActivity" />
        <activity android:name=".InfoPemilik" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>